p{
    line-height: 2;
}

body{
    background-color: rgb(8, 12, 10);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
    text-align: center;
}

hr{
    border: dotted gray 7px;
    border-bottom: none;
    width: 5%;
}
a{
    color: #868585;
}

a:hover{
    color: #040000;
}
.profile{
    padding : 50px;
    margin-top: 70px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}
.top{
    height: 950px;
    margin : 0;
    background-image: url("earth.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: auto;

}
.copyright{
    color: #040000;
    font-size: 0.75rem;
}
#me{
    width: 20%;
    border-radius: 50%;
}


.bottom-container{
    padding: 50px 0px 20px;
    background-color: rgb(255, 255, 255);
    height: 100px;
    color: black;
}
.footer-link{
    text-decoration: none;
    padding-left :20px;
    margin-top: 20px;
}
.pyt{
    margin-left: 30px;
    width: 25%;
    float: right;
}
.skill-row{
    height: 250px;
    width: 50%;
    margin: 50px auto;
    text-align: left;
}
.cpp{
    margin-right: 20px;
    width: 25%;
    float: left;

}
#name{
    margin-top: 0px;
    font-family: 'Sacramento', cursive;
    font-size: 70px;
    padding-top: 100px;
    margin-bottom: 0px;
}
#detail{
    margin-top: 0px;
    font-size: 2rem;
}
.contact-me{
    margin: 50px;
}

.getintouch{
    font-family: 'Fuzzy Bubbles',cursive;
    margin-top: 20px;
    font-size: 45px;
}
#my-skills{
    font-family: 'Fuzzy Bubbles',cursive;
    font-size: 45px;
    padding-top: 50px;
}

.btn {
    background: #def2ff;
    background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
    background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
    background-image: -o-linear-gradient(top, #ffffff, #ffffff);
    background-image: linear-gradient(to bottom, #ffffff, #ffffff);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Arial;
    color: #323131;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .skillinfo{
    padding: 20px;
  }
  .cont{
    margin-bottom: 50px;
  }
  .btn:hover {
    background: #c4e8ff;
    background-image: -webkit-linear-gradient(top, #868585, #868585);
    background-image: -moz-linear-gradient(top,  #868585, #868585);
    background-image: -ms-linear-gradient(top,  #868585, #868585);
    background-image: -o-linear-gradient(top,  #868585, #868585);
    background-image: linear-gradient(to bottom,  #868585, #868585);
    text-decoration: none;
  }